<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts Link For Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="../static/js/main.js" defer></script>
    <script src="https://kit.fontawesome.com/98a4884448.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="88959061574-buf7orgd6m6uphc01ks0is2koij3r9el.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://accounts.google.com/gsi/client" async></script>

  </head>
  <body>

    <!-- -------------- LOADING OVERLAY --------------------->
    <div class="overlay" id="overlay">
      <div class="loader"></div>
    </div>
    <!-- ----------------------------------------------------->


    <!-- LEFT CONTAINER -->
    <div class="container" >
      <!-- ADD CHAT-HISTORY AND LEFT CONTAINER CONTENT HERE -->
      <div class="new-chat" id="create_div">
        <svg class="add-icon" width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8.00012 1.73282V15.2532" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M15.0001 8.15491L1.00004 8.0887" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <p >New Chat</p>
      </div>

      <div id="chat-history">
      </div>

      <div class="line-brk"></div>

      <div id="g_id_onload"
        data-client_id="395947950953-8ae3fbj4a88ej2v0m4h7g4aqoc7vdbof.apps.googleusercontent.com"
        data-login_uri="http://localhost:8000"
        data-auto_prompt="false">
      </div>
      <div class="g_id_signin"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rounded"
        data-logo_alignment="left">
      </div>

    </div>
    <p class="pull-left" >
      <a type="button" class="btn btns-collapse btns-sm" data-toggle="offcanvas">
          <!-- <i class="glyphicon glyphicon-chevron-down"></i> -->
          <i class='bx bx-chevron-left toggle' id="toggleButton" style="font-size:1.8em;padding-top:10px;color:white"></i>
      </a>
    </p>

    
    
    <!--------------- RIGHT CONTAINER ------------------->
    <div class="right-container">
      <!-- ADD RIGHT CONTAINER CONTENT HERE -->
    </div>
    <p class="pull-right">
      <a type="button" class="btn btns-collapse btns-sm" data-toggle="offcanvas">
        <i class='bx bx-chevron-right toggle' id="toggleButton" style="font-size:1.8em;padding-top:10px;color:white;"></i>
      </a>
    </p>


    <!------------------------- MAIN -------------------------------------------->
    <div class="chat-container">
    </div>
    </div>
    
    <div class="chat_history"></div>
    
    <div class="typing-container">
      <div class="typing-content">
        <div class="typing-textarea">
          <textarea id="chat-input" spellcheck="false" placeholder="Enter a prompt here" required style="overflow:hidden"></textarea>

          <div class="typing-animations" id="key-animation">
            <div class="typing-dot" style="--delay: 0.2s"></div>
            <div class="typing-dot" style="--delay: 0.3s"></div>
            <div class="typing-dot" style="--delay: 0.4s"></div>
          </div>

          <span id="send-btn" >
            <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.715001 1.45379C0.714918 1.23796 0.778763 1.0258 0.900319 0.837946C1.02188 0.650097 1.19701 0.492956 1.40866 0.381825C1.62031 0.270693 1.86127 0.209356 2.10809 0.203786C2.35491 0.198216 2.59917 0.248601 2.8171 0.350036L21.2184 8.89627C21.4474 9.00277 21.6392 9.16177 21.7729 9.35619C21.9065 9.5506 21.9771 9.77319 21.9771 10C21.9771 10.2269 21.9065 10.4494 21.7729 10.6439C21.6392 10.8384 21.4474 10.9973 21.2184 11.1038L2.81567 19.65C2.59768 19.7512 2.35344 19.8014 2.10671 19.7956C1.85998 19.7899 1.61916 19.7283 1.40767 19.6171C1.19619 19.5059 1.02126 19.3486 0.89987 19.1608C0.778493 18.9729 0.714803 18.7608 0.715001 18.545V12.9125C0.714976 12.6209 0.831606 12.3384 1.0447 12.114C1.2578 11.8897 1.55395 11.7374 1.88188 11.6838L12.155 10L1.88188 8.31629C1.55395 8.26263 1.2578 8.11042 1.0447 7.88603C0.831606 7.66164 0.714976 7.37917 0.715001 7.08754V1.45379Z" fill="white"/>
              </svg>
          </span>
        </div>
        
        <div class="typing-controls">
   
      </div>
    </div>

    <div class="response-model" id="stop_value">
    </div>
    <div class="restart-response-model">

    </div>

    <script>

  
      let container_open_left = true;
      let container_open_right = true;

      const toggleButton = document.getElementById('toggleButton');
      toggleButton.addEventListener('click', function() {
        toggleButton.classList.toggle('clicked');
      });

      /* LEFT CONTAINER  */

      $(".pull-left").click(function(e) {
        if (container_open_left){
          $(".container").css({
            "transition": "left 100s",
            "display": "none"
          });

          $(".pull-left").css({
            "left":"0"
          })

          container_open_left = false
        }
        else{
          $(".container").css({
            "transition": "left 100s",
            "display": "block"
          });
          $(".pull-left").css({
            "left":"250px"
          })
          container_open_left = true
        }
      });


      /* RIGHT CONTAINER  */

      $(".pull-right").mousedown(function(e){
        if (container_open_right){
          $(".right-container").css({
            "transition": "left 100s",
            "display": "none"
          });

          $(".pull-right").css({
            "right":"0"
          })

          container_open_right = false
        }
        else{
          $(".right-container").css({
            "transition": "left 100s",
            "display": "block"
          });
          $(".pull-right").css({
            "right":"250px"
          })
          container_open_right = true
        }
      })
      

      function stickToPosition() {
        const stickyDiv = document.querySelector('.typing-animations');
        const rightOffset = 20; // Adjust this value to set the desired distance from the right
        const bottomOffset = 20; // Adjust this value to set the desired distance from the bottom

        const setDivPosition = () => {
            stickyDiv.style.right = rightOffset + 'px';
            stickyDiv.style.bottom = bottomOffset + 'px';
        };

        setDivPosition();
        window.addEventListener('scroll', setDivPosition);
        window.addEventListener('resize', setDivPosition);
      }
      
      //window.onload = stickToPosition;

    </script>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>

  </body>
</html>